<div class = "container">
  <div class="bookmark-container" style = "margin-top: 50px;">
    <h1 style="margin-top: -30px; margin-left: 15px;"><strong>Your saved coupons</strong></h1>
      <% @my_bookmarks.each do |bookmark|%>
        <% if bookmark.coupon.available? %>
          <%= link_to coupon_path(bookmark.coupon), class: "card-bookmark horizontal text-decoration-none text-black" do %>
            <div class="card-inner-bookmark">
              <span class="card-pin-bookmark simple"></span>

              <div class="card-content-bookmark">
                <div class="card-meta-bookmark">
                  <span class="card-meta-artist-bookmark"><%= bookmark.coupon.title %></span>
                </div>
                <h2 class="card-title-bookmark">expires:
                  <span class="card-time-bookmark"><%= bookmark.coupon.end_time%></span>
                </h2>
              </div>
                  <h2><%= link_to "Delete Coupon", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h2>

              <span class="card-pin-bookmark simple"></span>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
  <div class="button-container" style="margin-bottom: 70px;">
    <%= link_to "All coupons",root_path, class: "bttn" %>

  </div>
</div>
