<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" data-controller="user-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <div data-action= "change->user-inputs#toggleAddress">
      <%= f.input :role,
                  collection: ["customer", "business"],
                  default: "customer"%>
    </div>

    <div data-user-inputs-target="address">
    <%= f.input :address,
        input_html: {data: {address_autocomplete_target: "address"}, class: "d-none adrress-autocomplete"},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "bttn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
