<h1> Edit your <%= @coupon.title %></h1>
<%= simple_form_for [@coupon] do |f| %>
  <%= f.input :title %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :product_name %>
  <%= f.input :product_description %>
  <%= f.input :address %>
  <%= f.input :code %>
  <%= f.submit %>
<% end %>
