<section class="title">
  <h1>Displaying all coupons<h1>
  <p>results for your search</p>
</section>

<div class="card-container">
  <section class="coupons">
    <% @coupons.each do |coupon| %>
    <article class="card">
      <div class="card-inner">
        <span class="card-pin"></span>
        <div class="card-image">
          <img src="https://assets.iflscience.com/assets/articleNo/50863/iImg/48507/1544028330-46162315-2208445412552773-8381301981456629760-n.jpg" />
        </div>
        <div class="card-content">
          <div class="card-meta">
            <span class="card-subtitle"><%= coupon.title %></span>
            <button class="card-meta-button">
              <i class="ai-circle-triangle-right-fill"></i>
            </button>
          </div>
          <h2 class="card-title"><%= coupon.product_name %></h2>
        </div>
      </div>
    </article>
    <% end %>
  </section>
</div>

<div class="coupon-container">
  <% @coupons.each_slice(2) do |coupons| %>
    <div class="row mt-15">
      <% coupons.each do |coupon| %>
        <% if coupon.available? %>
          <div class="col">
              <%= link_to coupon_path(coupon) do %>
              <article class="card" style="margin-top: 50px;">
                <div class="card-inner">
                  <span class="card-pin"></span>
                  <div class="card-image">
                    <img src="https://assets.iflscience.com/assets/articleNo/50863/iImg/48507/1544028330-46162315-2208445412552773-8381301981456629760-n.jpg" />
                  </div>
                  <div class="card-content">
                    <div class="card-meta">
                      <span class="card-subtitle"><%= coupon.title %></span>
                      <button class="card-meta-button">
                        <i class="ai-circle-triangle-right-fill"></i>
                      </button>
                    </div>
                    <h2 class="card-title"><%= coupon.product_name %></h2>
                  </div>
                </div>
              </article>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="flex">
    <% if current_user.customer? %>
      <%= link_to "My Bookmarks", my_bookmarks_path, class: "bttn" %>
    <% else %>
      <%= link_to "Create new coupon", new_coupon_path, class: "bttn" %>
      <%= link_to "My Coupons", my_coupons_path, class: "bttn" %>
    <% end %>
  </div>
<% end %>
