<section class="title">
  <h1>Displaying all coupons<h1>
  <p>results for your search</p>
</section>

<div class="card-container">
  <div class="row row-cols-1">
    <% @coupons.each do |coupon| %>
      <article class="card col m-3">
        <div class="card-inner">
          <span class="card-pin"></span>
          <div class="card-image">
            <img src="https://assets.iflscience.com/assets/articleNo/50863/iImg/48507/1544028330-46162315-2208445412552773-8381301981456629760-n.jpg" />
          </div>
          <div class="card-content">
            <div class="card-meta">
              <span class="card-subtitle"><%= coupon.title %></span>
              <button class="card-meta-button">
                <i class="ai-circle-triangle-right-fill"></i>
              </button>
            </div>
            <h2 class="card-title"><%= coupon.product_name %></h2>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</div>






<% if user_signed_in? %>
  <div class="flex" style="margin-top: 78px;">
    <% if current_user.customer? %>
      <%= link_to "My Bookmarks", my_bookmarks_path, class: "bttn" %>
    <% else %>
      <%= link_to "Create new coupon", new_coupon_path, class: "bttn" %>
      <%= link_to "My Coupons", my_coupons_path, class: "bttn" %>
    <% end %>
  </div>
<% end %>
<h2><%=link_to "Sign out",destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %><h2>
