<h1>Displaying information about <%= @coupon.title %><h1>
<ul>
<li><%= @coupon.owner.email %></li>
<li><%= @coupon.start_time %></li>
<li><%= @coupon.end_time %></li>
<li><%= @coupon.product_name %></li>
<li><%= @coupon.product_description %></li>
<li><%= @coupon.code %></li>
</ul>
<% if user_signed_in? %>
  <% if current_user.id == @coupon.owner.id%>
    <h2><%= link_to "Delete Coupon?", coupon_path(@coupon), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "bttn" %></h2>
    <h2><%= link_to "Edit Coupon?", edit_coupon_path(@coupon), class: "bttn" %></h2>
  <% end %>
  <h2><%= link_to "Back to all Coupons", coupons_path, class: "bttn" %></h2>
    <% if current_user.coupon_taken?(@coupon) %>
        <h2>You already own this coupon</h2>
    <% else %>
        <h2><%= link_to "Add this Coupon?", create_bookmark_path(@coupon.id), data: {turbo_method: :post}, class: "bttn"%></h2>
  <%end%>
 <%end%>
<% if @coupon.available? %>
  <h2><strong>This Coupon is available! </strong></h2>
<% else %>
  <h2><strong>This Coupon is no longer available</strong></h2>
<% end %>
