<section class="title">
  <h1>Welcome to U-SHOP</h1>
  <p>Search for coupons perfect for saving money</p>
</section>

<div data-controller="search-coupons">
  <section class="search" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="search-inner" style="margin-bottom: 30px">
      <a href="/coupons" class="search-button">
        <i class="ai-search"></i>
      </a>
        <%= form_with url: root_path, method: :get, html: {class:
        "search-input h-25", data: {search_coupons_target: "form"}} do |f| %>
        <%= f.text_field :query,
        class: "form-control border-0 bg-white",
        placeholder: "Search for products",
        value: params[:query],
        data: {search_coupons_target: "input",
        action: "keyup->search-coupons#update"} %>
        <% end %>

      <button id="globe-button" class="btn secondary btn-lg globe" aria-label="Globe" data-action="click->map#toggleMap">
          <i class="fas fa-globe fa-fw" ></i>
      </button>
    </div>
    <div class="d-none" style="width: 100%; height: 600px; " data-map-target="imgmap">
    </div>
  </section>


  <%if user_signed_in? %>
  <nav class="navigation" style= "margin-bottom: 30;">
    <a href="#" class="navigation-item active">Near You</a>
        <% if current_user.owner? %>
          <%= link_to "My Coupons Posted",my_coupons_path, class: "navigation-item"%>
         <% else %>
      <%= link_to "My Coupons",my_bookmarks_path, class: "navigation-item"%>
      <% end %>
  </nav>
  <% end %>

  <%= turbo_frame_tag "coupon_cards", class: "card-container" do %>
    <%= render "pages/turbo_frames/coupon_cards", coupons: @coupons %>
  <% end %>
</div>

<div>
<% if user_signed_in?%>
  <% if current_user.owner?%>
  <h2><%= link_to "CREATE COUPON", new_coupon_path, class: "bttn" %></h2>
  <% end %>
<% end %>
</div>
