<html>
  <head>
    <title>Ushop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/cc3c17c8d6.js" crossorigin="anonymous"></script>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>
    <div class="phone">
      <body><%= render "shared/navbar" %>
        <%= render "shared/flashes" %>
        <header class="header">
        <div class="header-logo">
          <div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="header-title">
          U-SHOP
        </div>
        <div class="header-buttons">
          <button class="avatar" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" />
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content text-center">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Signup or Login</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="button-container">
                    <button type="button" class="bttn"><%= link_to "Login", new_user_session_path  %></button>
                    <button type="button" class="bttn"><%= link_to "Sign-up", new_user_registration_path  %></button>
                  </div>
                  <hr>
                  <p style="font-size: small; margin-top: 10px;">or register as a business</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <%= yield %>
      <%= render "shared/footer" %>
    </div>

  </body>
</div>
</html>
