<html>
  <head>
    <title>Ushop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/cc3c17c8d6.js" crossorigin="anonymous"></script>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <div class="phone">
      <body>
        <%= render "shared/navbar" %>
        <%= render "shared/flashes" %>
        <header class="header">
          <%= link_to root_path do %>
            <div class="header-logo">
              <div>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              </div>
            </div>
          <% end %>
          <div class="header-title">
            U-SHOP
          </div>
          <div class="header-buttons">
            <button class="avatar" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" />
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content text-center">
                  <div class="modal-header" style="justify-content: center;">
                    <h5>Signup or Login</h5>
                    <% if user_signed_in? %>
                      <div class ="button-container" style="margin-left: 50px;">
                        <%=link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "bttn" %>
                        <%# <p style="font-size: small; margin-top: 10px;"><%=link_to "swap",current_user.swap_role%>
                      </div>
                    <% else %>
                      <div class="button-container">
                        <% if @coupon.present? %>
                          <%= link_to "Login", new_user_session_path(coupon_id: @coupon.id), data: { turbo: false }, class: "bttn" %>
                          <%= link_to "Sign-up", new_user_registration_path, class: "bttn" %>
                          <%= link_to "Register as business",new_user_registration_path, class: "bttn" %>
                        <% else %>
                          <%= link_to "Login", new_user_session_path, class: "bttn" %>
                          <%= link_to "Sign-up", new_user_registration_path, class: "bttn" %>
                          <%= link_to "Register as business",new_user_registration_path, class: "bttn" %>
                        <% end %>
                      </div>
                      <hr>
                      <button type="button" class="btn btn-secondary" style="margin-bottom: 15px;" data-bs-dismiss="modal">Close</button>
                    <% end %>
                  </div>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        </header>

      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>
  </div>
</html>
